body {
    background-color: #fdffff;
}

h1 {
    font-weight: 400;
    text-align: center;
}

.contenedor {
    margin: 3% 20%;
}

#etiquetas {
    font-family: "Roboto", Arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

#etiquetas td, #etiquetas th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
  }

#etiquetas tr:hover {
      background-color: rgb(226, 223, 223);
    }
  
#etiquetas th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color:blue;
    color: white;
  }
