table tr th a.btn:active{
    pointer-events: none;
    opacity: 0.5;
}

table tr th a.btn{
    cursor: not-allowed;
    opacity: 0.5;
}

#panel:active {
    pointer-events: none;
}

#panel {
    cursor:not-allowed;
}
