{% extends 'base.html' %}

{% load static %}

{% block contenido %}
    <tr>
        <th><a target="_blank" href="https://drive.google.com/file/d/1ax5idvWxUNj6VEhz0Ail79w8tMQ1PCyr/view?usp=sharing">Opinion acerca de las imagenes</a></th>
        <th><a href="https://drive.google.com/uc?export=download&id=1ax5idvWxUNj6VEhz0Ail79w8tMQ1PCyr" class='btn btn-primary btn-sm'><i class="fas fa-download"></i></a></th>
    </tr>
    <tr>
        <th><a href="{% url 'unidad:biografia' %}">Biografia Andy J. Arciniega</a></th>
        <th><a href="https://drive.google.com/uc?export=download&id=19JWh5-CZicA3_51hU3XOQjdlzafI-o9X" class='btn btn-primary btn-sm'><i class="fas fa-download"></i></a></th>
    </tr>
    <tr>
        <th><a href="{% url 'unidad:etiqueta' %}">100 etiquetas de html5</a></th>
        <th><a href="https://drive.google.com/uc?export=download&id=1S6q0xy5i9pbxqAYEdpawj56uIAUYlRSo" class='btn btn-primary btn-sm'><i class="fas fa-download"></i></a></th>
    </tr>
    <tr>
        <th><a href="{% url 'unidad:banco' %}">Menu Banreservas</a></th>
        <th><a href="https://drive.google.com/uc?export=download&id=14SAT6keZSFk6GXwj-xnAREyaHwPDBR6u" class='btn btn-primary btn-sm'><i class="fas fa-download"></i></a></th>
    </tr>
    <tr>
        <th><a href="{% url 'unidad:cedula' %}">Validacion de cedula</a></th>
        <th><a href="https://drive.google.com/uc?export=download&id=1TsOG3dJLm8Bvdrka_7M84rE0XZlDmzbn" class='btn btn-primary btn-sm'><i class="fas fa-download"></i></a></th>
    </tr>
    <tr>
        <th><a href="{% url 'unidad:menu' %}">Generador de menu</a></th>
        <th><a href="https://drive.google.com/uc?export=download&id=1fRosMpFDXsIEYY2uTYx0BfN-6_TFGSUi" class='btn btn-primary btn-sm'><i class="fas fa-download"></i></a></th>
    </tr>
        
        <th><a href="{% url 'unidad:qr' %}">Generador de codigoQR</a></th>
        <th><a href="https://drive.google.com/uc?export=download&id=1Q4c4lmgxMpiJG94p40CPfD9pfkIesY0V" class='btn btn-primary btn-sm'><i class="fas fa-download"></i></a></th>
    </tr>
    </tr>   
        <th><a href="{% url 'unidad:tabs' %}">Formulario Multi-Paginas</a></th>
        <th><a href="https://drive.google.com/uc?export=download&id=12nO2kK2eDzXc-Wt7ZBJTVXtSj8FXEK4j" class='btn btn-primary btn-sm'><i class="fas fa-download"></i></a></th>
    </tr> 
        <th><a target="_blank" href="https://drive.google.com/file/d/1WKeUe8HtnL-ei1-r2xVJxuN_P4E1VWSz/view?usp=sharing">Resumen XML</a></th>
        <th><a href="https://drive.google.com/uc?export=download&id=1WKeUe8HtnL-ei1-r2xVJxuN_P4E1VWSz" class='btn btn-primary btn-sm'><i class="fas fa-download"></i></a></th>
    </tr>
        <th><a target="_blank" href="https://drive.google.com/file/d/1aMuKzUNd7j57NongXXrhjeyc9dXp_4nb/view?usp=sharing">Resumen JSON</a></th>
        <th><a href="https://drive.google.com/uc?export=download&id=1aMuKzUNd7j57NongXXrhjeyc9dXp_4nb" class='btn btn-primary btn-sm'><i class="fas fa-download"></i></a></th>
    </tr>
    </tr>   
        <th><a href="{% url 'unidad:grafico' %}">Chart js Población</a></th>
        <th><a href="https://drive.google.com/uc?export=download&id=12nO2kK2eDzXc-Wt7ZBJTVXtSj8FXEK4j" class='btn btn-primary btn-sm'><i class="fas fa-download"></i></a></th>
    </tr> 
    
{% endblock %}