<!-- Sidebar Menu -->
<nav class="mt-2">
<ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
    </li>
    <!--Opinion imagenes-->
    <a target="_blank" href="https://drive.google.com/file/d/1ax5idvWxUNj6VEhz0Ail79w8tMQ1PCyr/view?usp=sharing" class="nav-link">
        <i class="nav-icon far fa-address-book text-info"></i>
        <p>Opinion imagenes</p>
    </a>
    
    <!--Biografia-->
    <a href="{% url 'unidad:biografia' %}" class="nav-link">
        <i class="nav-icon far fa-address-book text-info"></i>
        <p>Biografia</p>
    </a>
    </li>

    <!--Cien etiquetas-->
    <a href="{% url 'unidad:etiqueta' %}" class="nav-link">
        <i class="nav-icon far fa-address-book text-info"></i>
        <p>Cien etiquetas</p>
    </a>

    <!--Banco menu-->
    <a href="{% url 'unidad:banco' %}" class="nav-link">
        <i class="nav-icon far fa-address-book text-info"></i>
        <p>Menu Banreservas</p>
    </a>

    <!--Cedula dominicana-->
    <a href="{% url 'unidad:cedula' %}" class="nav-link">
        <i class="nav-icon far fa-address-book text-info"></i>
        <p>Validacion de cedula</p>
    </a>

    <!--Generador de menu-->
    <a href="{% url 'unidad:menu' %}" class="nav-link">
        <i class="nav-icon far fa-address-book text-info"></i>
        <p>Generador de menu</p>
    </a>
</ul>
</nav>
<!-- /.sidebar-menu -->