<!-- Sidebar Menu -->
<nav class="mt-2">
<ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
    </li>
    <!--Opinion imagenes-->
    <a target="_blank" href="https://drive.google.com/file/d/1ax5idvWxUNj6VEhz0Ail79w8tMQ1PCyr/view?usp=sharing" class="nav-link">
        <i class="nav-icon far fa-address-book text-info"></i>
        <p>Opinion imagenes</p>
    </a>
    
    <!--Biografia-->
    <a href="{% url 'unidad:biografia' %}" class="nav-link">
        <i class="nav-icon far fa-address-book text-info"></i>
        <p>Biografia</p>
    </a>
    </li>

    <!--Cien etiquetas-->
    <a href="{% url 'unidad:etiqueta' %}" class="nav-link">
        <i class="nav-icon far fa-address-book text-info"></i>
        <p>Cien etiquetas</p>
    </a>

    <!--Banco menu-->
    <a href="{% url 'unidad:banco' %}" class="nav-link">
        <i class="nav-icon far fa-address-book text-info"></i>
        <p>Menu Banreservas</p>
    </a>

    <!--Cedula dominicana-->
    <a href="{% url 'unidad:cedula' %}" class="nav-link">
        <i class="nav-icon far fa-address-book text-info"></i>
        <p>Validacion de cedula</p>
    </a>

    <!--Generador de menu-->
    <a target="_blank" href="{% url 'unidad:menu' %}" class="nav-link">
        <i class="nav-icon far fa-address-book text-info"></i>
        <p>Generador de menu</p>
    </a>

    <!--Generador de qr-->
    <a target="_blank" href="{% url 'unidad:qr' %}" class="nav-link">
        <i class="nav-icon far fa-address-book text-info"></i>
        <p>Generador de QR</p>
    </a>
    <!--Formulario Multi-Paginas-->
    <a target="_blank" href="{% url 'unidad:tabs' %}" class="nav-link">
        <i class="nav-icon far fa-address-book text-info"></i>
        <p>Formulario Multi-Paginas</p>
    </a>

    <!--Resumen XML-->
    <a target="_blank" href="https://drive.google.com/file/d/1WKeUe8HtnL-ei1-r2xVJxuN_P4E1VWSz/view?usp=sharing" class="nav-link">
        <i class="nav-icon far fa-address-book text-info"></i>
        <p>Resumen XML</p>
    </a>

    <!--Resumen JSON-->
    <a target="_blank" href="https://drive.google.com/file/d/1aMuKzUNd7j57NongXXrhjeyc9dXp_4nb/view?usp=sharing" class="nav-link">
        <i class="nav-icon far fa-address-book text-info"></i>
        <p>Resumen JSON</p>
    </a>

    <!--Poblacion de las antillas-->
    <a target="_blank" href="{% url 'unidad:grafico' %}" class="nav-link">
        <i class="nav-icon far fa-address-book text-info"></i>
        <p>Chart js Población</p>
    </a>

    <!--AJAX Y FRAMEWORK-->
    <a target="_blank" href="https://drive.google.com/file/d/1XwhGEepFq_JYq2-CCRI1zbfg4on4yyV8/view?usp=sharing" class="nav-link">
        <i class="nav-icon far fa-address-book text-info"></i>
        <p>AJAX Y FRAMEWORK</p>
    </a>

    <!--Conexión a Bases de Datos-->
    <a target="_blank" href="https://drive.google.com/file/d/1aWDtXMUVHMqxvm4kdSKbrtKk8F5X0lm6/view?usp=sharing" class="nav-link">
        <i class="nav-icon far fa-address-book text-info"></i>
        <p>Conexión a Bases de Datos</p>
    </a>

    <!--Modelo Vista Controlador (MVC)-->
    <a target="_blank" href="https://drive.google.com/file/d/10Jy1XFGZWHgGvyGWwlz8rEmB5Xc9BYTt/view?usp=sharing" class="nav-link">
        <i class="nav-icon far fa-address-book text-info"></i>
        <p>Modelo Vista Controlador</p>
    </a>

    <!--REST_API-->
    <a target="_blank" href="{% url 'unidad:web_servicie' %}" class="nav-link">
        <i class="nav-icon far fa-address-book text-info"></i>
        <p>Servicio Web Cedula</p>
    </a>

    <!--Spring Framework-->
    <a target="_blank" href="https://drive.google.com/file/d/13Ndh9zfJ_xIPEE1JgN7eaPpYKuvkWum5/view?usp=sharing" class="nav-link">
        <i class="nav-icon far fa-address-book text-info"></i>
        <p>Spring Framework</p>
    </a>
</ul>
</nav>
<!-- /.sidebar-menu -->